@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 7 85% 54%;
    --primary-foreground: 38 83% 94%;
    --secondary: 41 99% 55%;
    --secondary-foreground: 215 75% 10%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 41 99% 55%;
    --accent-foreground: 215 75% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 41 99% 55%;
    --radius: 0.5rem;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 7 85% 54%;
    --sidebar-primary-foreground: 38 83% 94%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 41 99% 55%;
  }

  .light {
    --background: 38 83% 94%;
    --foreground: 215 75% 30%;
    --card: 38 83% 98%;
    --card-foreground: 215 75% 30%;
    --popover: 38 83% 98%;
    --popover-foreground: 215 75% 30%;
    --primary: 7 85% 54%;
    --primary-foreground: 38 83% 94%;
    --secondary: 38 83% 88%;
    --secondary-foreground: 215 75% 30%;
    --muted: 38 83% 88%;
    --muted-foreground: 215 75% 50%;
    --accent: 41 99% 55%;
    --accent-foreground: 215 75% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 38 83% 94%;
    --border: 38 83% 80%;
    --input: 38 83% 80%;
    --ring: 7 85% 54%;
    --sidebar-background: 38 83% 98%;
    --sidebar-foreground: 215 75% 30%;
    --sidebar-primary: 7 85% 54%;
    --sidebar-primary-foreground: 38 83% 94%;
    --sidebar-accent: 38 83% 88%;
    --sidebar-accent-foreground: 215 75% 30%;
    --sidebar-border: 38 83% 80%;
    --sidebar-ring: 7 85% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
